@import "tailwindcss";
@plugin "daisyui";

.search-input{
  @apply w-125 p-2 border-2 border-black ;
}
.results-container{
  @apply  w-125 m-auto border-2  border-black  p-2 text-left  max-h-7/12 overflow-y-scroll ;
}
.result{
  @apply block p-2  ;
}
.result:hover{
  @apply bg-gray-200 cursor-pointer ;
}