@import "tailwindcss";
@plugin "daisyui";


.autocomplete-container {
  @apply w-full;
}

.autocomplete-input {
  @apply w-full border border-gray-800 p-2 rounded-md
         focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.autocomplete-loading {
  @apply text-gray-500 mt-2 text-sm;
}

.autocomplete-list {
  @apply mt-2 space-y-1;
}

.autocomplete-item {
  @apply p-2 bg-white rounded shadow-sm
         hover:bg-gray-100 cursor-pointer;
}