@import 'tailwindCSS' ;



/* ---------- FORM ---------- */

.validation-form {
  @apply max-w-xl mx-auto mt-12 bg-white p-8 rounded-2xl shadow-xl space-y-4;
}

.form-title {
  @apply text-2xl font-bold text-center text-indigo-600 mb-4;
}

.form-group {
  @apply flex flex-col gap-1;
}

/* ---------- INPUT ---------- */

.form-input {
  @apply px-4 py-2 rounded-lg border border-gray-300
    focus:outline-none focus:ring-2 focus:ring-indigo-500
    focus:border-indigo-500;
}

/* ---------- CHECKBOX ---------- */

.checkbox-row {
  @apply flex gap-6 mt-1;
}

/* ---------- ERROR ---------- */

.error-text {
  @apply text-sm text-red-500;
}

/* ---------- BUTTON ---------- */

.submit-btn {
  @apply w-full mt-4 bg-indigo-600 text-white py-3 rounded-lg
    hover:bg-indigo-700 transition font-semibold;
}
